@model List<WebApplication2.Models.Product>
@{
    ViewBag.Title = "Home Page";
}


<div class="center_content">
    <div class="center_title_bar">All Products</div>
    @foreach (var pro in Model)
    {
        <div class="prod_box">
            <div class="center_prod_box">
                <div class="product_title"><a href="@Url.Action("Detail","Category",new {productID=pro.IDProduct })">@pro.ProductName</a></div>
                <div class="product_img"><a href="@Url.Action("Detail","Category",new {productID=pro.IDProduct })"><img src="@pro.Image" alt="" border="0" height="71" width="94" /></a></div>
                <div class="prod_price"><span class="price">@pro.Price $</span></div>
            </div>
            <div class="prod_details_tab">


                <a href="@Url.Action("AddToCart","Cart",new {id=pro.IDProduct })" class="prod_buy">Add to Cart</a>


                <a href="@Url.Action("Detail","Category",new {productID=pro.IDProduct })" class="prod_details">Details</a>
            </div>
        </div>
    }
</div>
